
.search__container {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  position: absolute;
  z-index: 3333333;
  background: #1a1a1a;
  color: #fff;
  width: 100%;
  position: fixed;
}

.links_count {
  margin-top: 1%;
}

.search__input {
  border: 2px solid var(--dark-color);
  padding: 1rem;
  text-align: center;
}

.search__input:hover,
.search__input:focus {
  outline: none;
  border-color: var(--primary-color);
  -webkit-box-shadow: 0 0 5px 0.1px var(--primary-color);
          box-shadow: 0 0 5px 0.1px var(--primary-color);
}

.highlighted {
  text-shadow: red;
  color: red;
  background: yellow;
  font-weight: bold;
}
